{% extends "layout.html" %}
  {% block navlist %}
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  {% endblock %}
  
  {% block body %}
  <div class="container-fluid" id="searchcontainer">
    <ul class="resultList list-group">
      {% for entry in result %}
          <li class="list-group-item">ISBN: {{ entry.isbn }}</li>
          <li class="list-group-item">Title: {{ entry.title }}</li>
          <li class="list-group-item">Author: {{ entry.author }}</li>
          <li class="list-group-item">Year: {{ entry.year }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}