{% extends "layout.html" %}
  {% block navlist %}
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  {% endblock %}
  
  {% block body %}
  <div class="container-fluid formdiv">
    <form class="form-group searchdiv" action="/search" method="post">
      <input type="search" placeholder="Search for a book by ISBN, name, author or year" class="form-control search" maxlength="50" name="search">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  {% endblock %}